*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}
html,
body{
height: 100%;
width: 100%;
}
body{
  background-color:#111;;
}
.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}
.nav{
  background-color: rgb(103, 20, 124);
  padding: 20px;
  margin: 15px;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap:wrap ;
}